In [1]:
#Answer: 1
# *  -expression : expression
# 'hello' -string : Value
# -87.8 -integer : Value
# - -expression : expression
# / -division : expression
# +-addition : expression
# 6 -integer :Value

In [2]:
# Answer: 2
# 'spam':- 'spam' is a string datatype in python , which is a reference type data-type.
#  spam:- spam is a Variable helps to hold a value in heap memory or stack memory.

In [3]:
#Answer: 3
# int : it's a integer datatye which helps to identify integer value. for instance x = 1, y =2
# str : it's a string datatype which helps t identify and define string value. For instance a = "Assignment1"
# float: it's a float datatye which helps to identify floating values and decimal value. b = 10.5

In [4]:
#Answer : 4
# Expression is a represenation of different conditional or non-conditional operation For Instance :
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
#Answer : 5
# Expression is a represenation of different conditional or non-conditional operation. where as statement is a set of or group of logcial and conditional statement.
[x for x in range(10)] # Expression
["odd" if i%2 ==0 else "even" for i in range(10)] # Statement

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [10]:
#Answer : 6
bacon = 20
bacon+1
#outPut : 21

21

In [12]:
#Answer :7
'spam' + 'spamspam'
#output : 'spamspamspam'
'spam'*3
#output : 'spamspamspam'

'spamspamspam'

In [13]:
#Answer : 8
# variable name always starts with character  for instance AssignmentName ="FirstAssignment", Assign_1 = "Secondvariable". 
# where as 100 is a integer value which we can't use as variable name in python.

In [17]:
#Answer : 9
# For integer value use int() function
# For floating value use float() function
# For string value use str() function

0

In [19]:
#Answer : 10
'I have eaten ' + 99 + ' burritos.' 
# The above expression will cause error because we can not concate string value with integer value without typecasting.
#If you want to concate string value with integer value you need to convert integer value into string.
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'