In [ ]:
#Answer : 1
import math

inputNum = input("Enter number ")
Fact = math.factorial(int(inputNumm))
print("The Factorial of {0} is {1}".format(inputNum,Fact))

In [3]:
#Answer : 2
inputNum = input("Enter Tabel number ")
for i in range(1,11):
    print("{0} * {1} = {2}".format(inputNum,i,str(int(inputNum)*i)))

Enter Tabel number 19
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [25]:
#Answer : 3
inputNum = int(input("Enter number for Fibonacci Squence "))
ls = []
for i in range(0,inputNum):
    if len(ls)<2:
        
        ls.append(i)
    else:
        ls.append(ls[i-1]+ls[i-2])
ls

Enter number for Fibonacci Squence 20

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181]

In [9]:
ls= [0,1,2]
ls[1]

1

In [53]:
#Answer :4 

inputNum = input("Enter Number for Armstrong Number")
splitNum = list(inputNum)
Armstrong= 0
for x in splitNum:
    
    Armstrong = Armstrong+ (int(x)**3)
Armstrong

Enter Number for Armstrong Number123

36

In [57]:
#Answer :5
for i in range(100,1000):
    splitNum = list(str(i))
    Armstrong=0
    for x in splitNum:
          Armstrong = Armstrong+ (int(x)**3)
    if Armstrong == i:
        print(Armstrong)

153
370
371
407

In [59]:
#Answer : 6
inputNum = int(input("Enter Number "))
SumofNatural = inputNum*(inputNum+1)//2
SumofNatural

Enter Number 6

21